@charset "UTF-8";
* {
  font-family: 微软雅黑; }

a {
  color: #262626; }

body {
  background: #efefef; }

ul, li {
  list-style: none; }

.header {
  background: #FFFFFF; }
  .header .contain {
    width: 100%;
    border-bottom: 1px solid #efefef; }
    .header .contain .con-header {
      max-width: 1160px;
      margin: 0 auto; }
      .header .contain .con-header .logo {
        display: inline-block;
        width: 15rem;
        height: 5rem;
        background: url("../images/logo.jpg") no-repeat;
        background-size: cover; }
      .header .contain .con-header .nav-right {
        float: right; }
        .header .contain .con-header .nav-right li {
          padding: 0.5rem;
          line-height: 5rem;
          float: left; }
        .header .contain .con-header .nav-right form {
          padding: 0.5rem; }
  .header .nav-tag {
    width: 100%;
    position: relative; }
    .header .nav-tag ul.nav-bar {
      max-width: 1160px;
      margin: 0 auto;
      display: flex; }
      .header .nav-tag ul.nav-bar li.nav-tabs {
        border-bottom: none;
        width: 20%;
        text-align: center;
        position: inherit; }
        .header .nav-tag ul.nav-bar li.nav-tabs .first-tab.active {
          background: #2aabd2; }
        .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab {
          background: #efefef;
          clear: both;
          overflow: hidden;
          position: absolute;
          z-index: 9999;
          left: 0;
          right: 0;
          display: none; }
          .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab ul {
            max-width: 1160px;
            margin: 0 auto;
            padding: 0;
            display: flex; }
            .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab ul li {
              padding: 2rem;
              margin: 0; }
        .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab.active {
          display: block;
          border-bottom: 1px solid #168fdc; }

.footer {
  background: #454545;
  color: #ffffff; }
  .footer .footer-link {
    display: flex;
    padding: 30px; }
    .footer .footer-link > li {
      padding: 5px 5px;
      width: 20%; }
      .footer .footer-link > li span {
        font-size: 18px;
        font-weight: bold;
        padding: 10px; }
      .footer .footer-link > li div.list-link ul {
        padding: 0; }
        .footer .footer-link > li div.list-link ul li {
          padding: 10px; }
          .footer .footer-link > li div.list-link ul li a {
            color: #ffffff !important; }
  .footer .qr-code {
    padding: 10px; }
    .footer .qr-code ul {
      display: flex; }
      .footer .qr-code ul li {
        padding: 5px; }
  .footer .foot-content {
    text-align: center;
    border-top: 1px solid #666; }

/***index**/
.main-con .card:nth-child(2n) {
  background: #efefef; }
.main-con .card:nth-child(2n+1) {
  background: #FFFFFF; }

.card {
  clear: both;
  overflow: hidden;
  padding: 2rem; }
  .card .card-header {
    clear: both;
    overflow: hidden;
    padding: 0; }
  .card .card-body {
    position: relative; }

.focus-con {
  padding: 5px; }
  .focus-con li {
    clear: both;
    overflow: hidden;
    display: none; }
    .focus-con li .focus-box {
      display: flex;
      padding: 0; }
      .focus-con li .focus-box div.img-con {
        overflow: hidden;
        text-align: center;
        padding: 0; }
        .focus-con li .focus-box div.img-con > img {
          display: block;
          width: 100%;
          height: 272px; }
      .focus-con li .focus-box div.content-con {
        background: #dddddd;
        padding: 0; }
        .focus-con li .focus-box div.content-con .jiaodian_content {
          height: 100%;
          padding: 20px; }
          .focus-con li .focus-box div.content-con .jiaodian_content .jd_title {
            padding: 5px;
            font-size: 18px; }
          .focus-con li .focus-box div.content-con .jiaodian_content .tu_wen {
            height: 100%;
            padding: 5px; }
            .focus-con li .focus-box div.content-con .jiaodian_content .tu_wen .jd_content {
              height: 100%;
              position: relative; }
              .focus-con li .focus-box div.content-con .jiaodian_content .tu_wen .jd_content .jd_content1 {
                font-size: 20px;
                margin-bottom: 15px;
                font-weight: 600; }
              .focus-con li .focus-box div.content-con .jiaodian_content .tu_wen .jd_content .jd_content2 {
                font-size: 14px; }
              .focus-con li .focus-box div.content-con .jiaodian_content .tu_wen .jd_content .jd_content3 {
                position: absolute;
                bottom: 45px; }
                .focus-con li .focus-box div.content-con .jiaodian_content .tu_wen .jd_content .jd_content3 span a {
                  color: #2aabd2; }
  .focus-con li.active {
    display: block; }

.list-focus {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex; }
  .list-focus li {
    background: #ffffff;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    cursor: pointer; }
  .list-focus li.active {
    background: #2aabd2; }

.media-center {
  margin: 0;
  padding: 0; }
  .media-center li {
    padding: 0 20px;
    border-right: 1px solid #dddddd; }
    .media-center li .media-head {
      font-size: 16px;
      color: #444;
      margin-bottom: 10px; }
    .media-center li .media-title {
      font-size: 16px;
      color: #498537;
      display: block;
      height: 70px;
      margin-bottom: 15px; }
    .media-center li .media-content {
      font-size: 14px;
      color: #444;
      display: block;
      height: 90px;
      word-wrap: break-word; }
    .media-center li .media-foot a {
      font-size: 14px;
      color: #498537; }
  .media-center li:last-child {
    border-right: none; }
  .media-center li:first-child {
    padding-left: 0; }

/***introduce**/
.text-content {
  padding: 20px;
  background: #fff;
  position: relative;
  width: 1040px;
  margin: -80px auto 0 auto;
  clear: both;
  overflow: hidden; }
  .text-content .bread {
    border-bottom: 1px solid #ddd;
    padding: 30px 0; }
  .text-content .text-introduce {
    padding-top: 25px;
    padding-bottom: 50px; }
    .text-content .text-introduce img {
      vertical-align: top;
      float: left;
      margin-right: 12px;
      margin-bottom: 12px; }
    .text-content .text-introduce .tab-cur {
      margin-left: -30px;
      margin-right: -30px;
      margin-top: 15px; }
      .text-content .text-introduce .tab-cur .tab-cur-list {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        display: flex; }
        .text-content .text-introduce .tab-cur .tab-cur-list li {
          background: #dddddd;
          padding: 20px;
          width: 216px;
          margin-right: 10px;
          text-align: center;
          color: #444444;
          font-size: 18px;
          cursor: pointer; }
        .text-content .text-introduce .tab-cur .tab-cur-list li:last-child {
          margin-right: 0; }
        .text-content .text-introduce .tab-cur .tab-cur-list li.active {
          background: #168fdc;
          color: #FFFFFF; }
      .text-content .text-introduce .tab-cur .tab-con {
        background: #dddddd;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        padding-left: 0; }
        .text-content .text-introduce .tab-cur .tab-con .item-box {
          display: none;
          padding: 0; }
          .text-content .text-introduce .tab-cur .tab-con .item-box .item-list {
            padding: 0;
            display: flex;
            color: #444444;
            text-align: center; }
            .text-content .text-introduce .tab-cur .tab-con .item-box .item-list li .img-con {
              display: block;
              clear: both;
              overflow: hidden;
              text-align: center;
              margin-top: 10px; }
              .text-content .text-introduce .tab-cur .tab-con .item-box .item-list li .img-con img {
                float: none;
                margin: 0; }
            .text-content .text-introduce .tab-cur .tab-con .item-box .item-list li span {
              display: block;
              padding: 10px 40px; }
        .text-content .text-introduce .tab-cur .tab-con .item-box.active {
          display: block; }
  .text-content .nav-list {
    padding-top: 30px; }
    .text-content .nav-list li {
      cursor: pointer;
      padding: 15px;
      border-bottom: 1px solid #dddddd; }
    .text-content .nav-list li.active, .text-content .nav-list li:hover {
      border-bottom: none;
      background: #168fdc; }
      .text-content .nav-list li.active a, .text-content .nav-list li:hover a {
        color: #FFFFFF;
        text-decoration: none; }
    .text-content .nav-list li:last-child {
      border-bottom: none; }

/****news*****/
.news-center {
  text-align: center; }
  .news-center .news-list {
    text-align: left;
    padding: 0; }
    .news-center .news-list li {
      border-bottom: 1px solid #dddddd;
      display: flex;
      padding: 20px 0; }
      .news-center .news-list li a {
        display: inline-block; }
      .news-center .news-list li div.news-digest {
        padding: 5px 0 5px 20px; }
        .news-center .news-list li div.news-digest .news-title {
          font-size: 16px;
          color: #444;
          font-weight: bold;
          display: block; }
        .news-center .news-list li div.news-digest .news-content {
          font-size: 15px;
          color: #777;
          display: block; }
        .news-center .news-list li div.news-digest a {
          text-decoration: none; }
        .news-center .news-list li div.news-digest a:hover {
          color: #168fdc; }
        .news-center .news-list li div.news-digest span {
          font-size: 14px;
          color: #777;
          display: block; }
    .news-center .news-list li:last-child {
      border-bottom: none; }
  .news-center .pagination {
    margin: 20px auto;
    display: inline-block;
    clear: both;
    overflow: hidden; }

/*****history********/
.lishi ul {
  padding-left: 0;
  background: url(../images/xj17.png) repeat-y 96px top; }
  .lishi ul li {
    display: flex; }
    .lishi ul li span {
      font-family: "Source Sans Pro LightIt";
      font-size: 32px;
      color: #498537;
      display: block;
      height: 36px;
      line-height: 36px;
      float: left; }
    .lishi ul li .lishi_neirong {
      float: left;
      margin-left: 15px;
      width: 700px; }
      .lishi ul li .lishi_neirong p {
        font-family: "微软雅黑";
        font-size: 15px;
        color: #444;
        line-height: 36px;
        display: block;
        padding-left: 28px;
        background: url(../images/xj16.png) left 10px no-repeat; }

/*****culture*****/
.culture {
  margin: 30px 0 10px 0; }
  .culture .row-culture .cpx {
    margin: 30px 0 10px 0;
    background: url("../images/a31.png") no-repeat left;
    color: #498537;
    display: inline-block;
    text-indent: 20px;
    font-size: 22px; }
  .culture .row-culture ul {
    padding-left: 0; }
    .culture .row-culture ul li {
      line-height: 30px;
      color: #444444;
      font-size: 16px; }
      .culture .row-culture ul li em {
        color: #498537;
        font-weight: bold; }

/******contact****/
.contact li .row-contact span {
  display: block; }

/*# sourceMappingURL=common.css.map */
