<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/zui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/zui.min.js"></script>
    <title>菲博特</title>
</head>
<body>
<div class="header">
    <div class="contain">
        <div class="con-header">
            <a class="logo" href="../../../officialwebsite/index.html"></a>
            <div class="nav-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tag">
        <ul class="nav nav-bar">
            <li class="nav-tabs">
                <a class="first-tab active" href="../../../officialwebsite/index.html">首页</a>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">关于我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">媒体中心</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司产品</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司文化</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">加入我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="contain">
    <div class="main-con contain">
        <div class="container" style="padding: 0;overflow: hidden">
            <img src="../../images/introduce.jpg" alt="">
            <div class="text-content">
                <div class="col-sm-8">
                    <div class="bread">
                        <span>
                            <a href="">首页</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="">关于我们</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="">公司概况</a>
                        </span>
                    </div>
                    <div class="text-introduce">
                        <h1 style="color: #bbbbbb;font-size: 40px;">SINCE  1994</h1>

                        <div style="color: #444444;font-size: 14px;">
                            <h3>
                                绿叶制药集团有限公司
                             </h3>
                           <p>
                               绿叶制药集团是一家以研发为基础的专业制药企业，公司成立于1994年，2014年在香港主板上市(02186.HK)。公司在烟台、北京、南京、泸州和德国米斯巴赫设有生产基地，在中国、美国和欧洲设有研发中心，在香港、新加坡和马来西亚设有分支机构，全球员工近4000名。
                               <br> <br>
                               绿叶制药致力于创新药物的研发、生产和销售，30余个上市产品覆盖抗肿瘤、中枢神经系统、心血管、糖尿病等规模最大及增长速度最快的治疗领域；业务遍及中国、美国、欧洲、澳洲、日韩等全球主要医药市场及新兴市场。绿叶制药建立了与国际接轨的研发体系，在微球、脂质体、透皮释药和皮下植入剂等新型给药系统领域处于国际先进水平。公司拥有丰富的在研产品线，多个创新制剂及创新药在美国FDA开展不同阶段的注册临床研究，并已取得突破性进展。
                               <br> <br>
                               绿叶制药将继续以创新和国际化为方向，力争成为最受尊敬的全球领先制药企业。
                               <img src="../../images/_1487601052_vagijn.jpg" alt="">
                           </p>

                        </div>
                        <div class="row" style="background: #dddddd;clear: both">
                            <div class="col-xs-5" style="padding-left: 0">
                                <img src="../../images/_1441594315_em950u.png" alt="" width="250" height="200" style="margin: 0">
                            </div>
                            <div class="col-xs-7" style="padding: 35px;">
                                <h3>创新成就卓越</h3>
                                <p>
                                    绿叶以创新为企业驱动力，以成就卓越为目标信仰。绿叶制药追求和期望通过持续创新来达到和实现卓越企业、卓越产品和卓越品牌的梦想。
                                </p>
                            </div>
                        </div>
                        <div class="tab-cur">
                            <ul class="tab-cur-list">
                                <li class="active">核心价值观</li>
                                <li>经营理念</li>
                                <li>目标愿景</li>
                            </ul>
                            <div class="tab-con">
                                <div class="item-box active">
                                    <ul class="item-list">
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item-box">
                                    <ul class="item-list">
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                        <li>
                                        <div class="img-con">
                                            <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                        </div>
                                        <h1>诚信</h1>
                                        <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                    </li>
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item-box">
                                    <ul class="item-list">
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                        <li>
                                            <div class="img-con">
                                                <img src="../../images/_1441605138_4axtsd.png" alt="" >
                                            </div>
                                            <h1>诚信</h1>
                                            <span>诚实正直，信守承诺，

                                                客观公正，言行一致。</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="nav-list">
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-menu-right"></i>公司概况</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>总裁致辞</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>发展历史</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>集团架构</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>文化理念</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>员工风采</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>联系我们</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">

        <ul class="footer-link col-sm-8">
            <li><span>关于我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>

                    </ul>
                </div>
            </li>
            <li><span>媒体中心</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司产品</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司文化</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li><span>加入我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="qr-code col-sm-4">
            <h3 style="padding: 0 42px">关于我们</h3>
            <ul>
                <li><img src="../../images/wechat.png" alt=""></li>
                <li><img src="../../images/wechat.png" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="foot-content">
        Copyright © 启东菲博特电子商务有限公司 沪ICP备08023599号-6
    </div>
</div>
<script src="../../js/common.js"></script>
<script>
    $(".tab-cur-list li").mouseover(function () {
        $('.tab-cur-list').find('li').removeClass('active');
        $(this).addClass('active');
        $(".tab-con").find(".item-box").removeClass("active");
        $(".tab-con").find(".item-box").eq($(this).index()).addClass("active");
    })
</script>
</body>
</html>