<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <title>菲博特</title>
</head>
<body>
<div class="header">
    <div class="contain">
        <div class="con-header">
            <a class="logo" href="index.html"></a>
            <div class="nav-right">
                <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tag">
        <ul class="nav nav-bar">
            <li class="nav-tabs">
                <a class="first-tab active" href="#">首页</a>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">关于我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="views/anenst/introduce.html">公司概况</a></li>
                        <li><a href="#">总裁致辞</a></li>
                        <li><a href="#">发展历史</a></li>
                        <li><a href="#">集团架构</a></li>
                        <li><a href="#">文化理念</a></li>
                        <li><a href="#">员工风采</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">媒体中心</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="./views/news.html">新闻动态</a></li>
                        <li><a href="./views/news.html">媒体报道</a></li>
                        <li><a href="#">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司产品</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="#">业务领域</a></li>
                        <li><a href="#">产品展示</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">社会责任</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="#">爱心助学</a></li>
                        <li><a href="#">慈善捐助</a></li>
                        <li><a href="#">活动支持</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">加入我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="#">人才战略</a></li>
                        <li><a href="#">员工成长</a></li>
                        <li><a href="#">工作机会</a></li>
                        <li><a href="#">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="contain">
    <div class="main-con contain">
        <div class="container" style="padding: 0;overflow: hidden">
            <img src="../../images/introduce.jpg" alt="">
            <div class="text-content">
                <div class="col-sm-8">
                    <div class="bread">
                        <span>
                            <a href="">首页</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="">关于我们</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="">公司概况</a>
                        </span>
                    </div>
                    <div class="text-introduce">
                        <h1 style="color: #bbbbbb">SINCE  1994</h1>

                        <div style="color: #333333;font-size: 14px;">
                            <h3>
                                绿叶制药集团有限公司
                             </h3>
                           <p>
                               绿叶制药集团是一家以研发为基础的专业制药企业，公司成立于1994年，2014年在香港主板上市(02186.HK)。公司在烟台、北京、南京、泸州和德国米斯巴赫设有生产基地，在中国、美国和欧洲设有研发中心，在香港、新加坡和马来西亚设有分支机构，全球员工近4000名。

                               绿叶制药致力于创新药物的研发、生产和销售，30余个上市产品覆盖抗肿瘤、中枢神经系统、心血管、糖尿病等规模最大及增长速度最快的治疗领域；业务遍及中国、美国、欧洲、澳洲、日韩等全球主要医药市场及新兴市场。绿叶制药建立了与国际接轨的研发体系，在微球、脂质体、透皮释药和皮下植入剂等新型给药系统领域处于国际先进水平。公司拥有丰富的在研产品线，多个创新制剂及创新药在美国FDA开展不同阶段的注册临床研究，并已取得突破性进展。

                               绿叶制药将继续以创新和国际化为方向，力争成为最受尊敬的全球领先制药企业。
                           </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <img src="../../images/_1441594315_em950u.png" alt="" style="width: 100%">
                            </div>
                            <div class="col-xs-7">
                                <h3>创新成就卓越</h3>
                                <p>
                                    绿叶以创新为企业驱动力，以成就卓越为目标信仰。绿叶制药追求和期望通过持续创新来达到和实现卓越企业、卓越产品和卓越品牌的梦想。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="nav-list">
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-menu-right"></i>公司概况</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>总裁致辞</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>发展历史</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>集团架构</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>文化理念</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>员工风采</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>联系我们</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">

        <ul class="footer-link col-sm-8">
            <li><span>关于我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="">公司概况</a></li>
                        <li><a href="">总裁致辞</a></li>
                        <li><a href="">发展历史</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">集团架构</a></li>
                    </ul>
                </div>
            </li>
            <li><span>企业文化</span>
                <div class="list-link">
                    <ul>
                        <li><a href="">文化理念</a></li>
                        <li><a href="">员工风采</a></li>
                        <li><a href="">精神文化</a></li>
                    </ul>
                </div>
            </li>
            <li><span>上市产品</span>
                <div class="list-link">
                    <ul>
                        <li><a href="">业务领域</a></li>
                        <li><a href="">产品展示</a></li>
                        <li><a href="">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li><span>媒体中心</span>
                <div class="list-link">
                    <ul>
                        <li><a href="">新闻动态</a></li>
                        <li><a href="">媒体报道</a></li>
                        <li><a href="">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li><span>加入我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="">人才战略</a></li>
                        <li><a href="">员工成才</a></li>
                        <li><a href="">工作机会</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="qr-code col-sm-4">
            <h3 style="padding: 0 42px">关于我们</h3>
            <ul>
                <li><img src="../../images/wechat.png" alt=""></li>
                <li><img src="../../images/wechat.png" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="foot-content">
        Copyright © 启东菲博特电子商务有限公司 沪ICP备08023599号-6
    </div>
</div>
<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>