<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/zui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/zui.min.js"></script>
    <title>菲博特</title>
</head>
<body>
<div class="header">
    <div class="contain">
        <div class="con-header">
            <a class="logo" href="../../../officialwebsite/index.html"></a>
            <div class="nav-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tag">
        <ul class="nav nav-bar">
            <li class="nav-tabs">
                <a class="first-tab active" href="../../../officialwebsite/index.html">首页</a>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">关于我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">媒体中心</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司产品</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司文化</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">加入我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="contain">
    <div class="main-con contain">
        <div class="container" style="padding: 0;overflow: hidden">
            <img src="../../images/introduce.jpg" alt="">
            <div class="text-content">
                <div class="col-sm-8">
                    <div class="bread">
                        <span>
                            <a href="">公司产品</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="../../../officialwebsite/views/product/business.html">业务领域</a>
                        </span>
                    </div>
                    <div class="text-introduce">
                        <div class="culture">
                            <div class="row-culture">
                                <span class="cpx">丰富的产品线</span>
                                <ul>
                                    <li>绿叶制药的产品组合包括30多个产品，涵盖规模最大及增长速度最快的治疗领域：肿瘤、心血管系统、糖尿病、中枢神经系统，覆盖全球主要医药市场及新兴市场，包括中国、美国、欧盟、澳洲、日本、东南亚等。

                                        绿叶制药的六种主要产品中，其中四种享有专利保护并用于治疗或预防高发疾病。“希美纳”是目前唯一的肿瘤放疗增敏化学制剂；“力扑素”是全球唯一的紫杉醇脂质体剂型；“血脂康”是首个拥有大型循证证据，已完成美国FDA二期临床研究的国际公认的国产调脂药品牌;
                                        七叶皂苷钠系列产品的研究成果曾获得“国家科技进步二等奖”和其他多项荣誉；“阿卡波糖”是国内独家首仿，独家胶囊剂型；卡巴拉汀透皮贴剂是目前美国FDA唯一批准的仿制药产品。</li>

                                </ul>
                            </div>
                        </div>
                        <div class="culture">
                            <div class="row-culture">
                                <span class="cpx">与国际接轨的质量管理体系</span>
                                <ul>
                                    <li>“质量源于设计”，绿叶制药从产品设计到厂房建设，均按国际标准执行，产品质量可控性高，不但能满足现阶段的需求，还为未来的发展做好了铺垫。公司建立了与国际接轨的GMP质量管理和控制体系，不断挑战质量管理的高标准，达到国际市场通行的规范。

                                        绿叶制药现有6个生产基地，其中5个中国生产基地位于烟台、北京、南京和泸州；1个德国生产基地位于米斯巴赫，是欧洲当今最大的独立透皮系统制造商之一。</li>
                                </ul>
                            </div>
                        </div>
                        <div class="culture">
                            <div class="row-culture">
                                <span class="cpx">中国生产基地：</span>
                                <ul>
                                    <li>● 所有生产线通过2010版GMP检查</li>
                                    <li>● 口服固体制剂生产线通过欧盟GMP检查</li>
                                    <li>● 两次通过澳大利亚TGA GMP检查</li>
                                    <li>● 通过ISO9001:2008质量管理体系认证</li>
                                    <li>● 通过ISO14001:2004环境管理体系认证</li>
                                    <li>●通过 OHSAS18001:2007职业健康安全管理体系认证</li>
                                    <li>● 质量控制实验室获得CNAS认可</li>
                                    <li>● 荣获全国“药品质量诚信建设示范企业”荣誉称号</li>
                                    <li>● 微球制剂车间通过欧盟认证现场核查</li>

                                </ul>
                            </div>
                            <div class="row-culture">
                                <span class="cpx">德国生产基地：</span>
                                <ul>
                                    <li>● 通过美国FDA检查</li>
                                    <li>● 通过欧盟GMP检查</li>
                                    <li>● 欧洲当今最大的独立透皮系统制造商之一</li>
                                    <li>● 工艺高度复杂、技术壁垒高的透皮制剂制造车间</li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="area">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../../images/area.png" alt="">
                                    <p>领域1</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../images/area.png" alt="">
                                    <p>领域1</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../images/area.png" alt="">
                                    <p>领域1</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../images/area.png" alt="">
                                    <p>领域1</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="nav-list">
                        <li class="active"><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">

        <ul class="footer-link col-sm-8">
            <li><span>关于我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>

                    </ul>
                </div>
            </li>
            <li><span>媒体中心</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司产品</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司文化</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li><span>加入我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="qr-code col-sm-4">
            <h3 style="padding: 0 42px">关于我们</h3>
            <ul>
                <li><img src="../../images/wechat.png" alt=""></li>
                <li><img src="../../images/wechat.png" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="foot-content">
        Copyright © 启东菲博特电子商务有限公司 沪ICP备08023599号-6
    </div>
</div>
<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>