<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/zui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/zui.min.js"></script>
    <title>菲博特</title>
</head>
<body>
<div class="header">
    <div class="contain">
        <div class="con-header">
            <a class="logo" href="../../../officialwebsite/index.html"></a>
            <div class="nav-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tag">
        <ul class="nav nav-bar">
            <li class="nav-tabs">
                <a class="first-tab active" href="../../../officialwebsite/index.html">首页</a>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">关于我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">媒体中心</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司产品</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司文化</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">加入我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="contain">
    <div class="main-con contain">
        <div class="container" style="padding: 0;overflow: hidden">
            <img src="../../images/introduce.jpg" alt="">
            <div class="text-content">
                <div class="col-sm-8">
                    <div class="bread">
                        <span>
                            <a href="">公司产品</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="../../../officialwebsite/views/product/products.html">产品展示</a>

                        </span>
                    </div>
                    <div class="text-introduce">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#wash" data-toggle="tab">
                                    洗护
                                </a>
                            </li>
                            <li><a href="#food" data-toggle="tab">食品</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="wash">
                                <div class="row" style="margin-top: 15px">
                                    <div class="col-xs-6">
                                        <div style="border: 1px solid #cccccc;clear: both;overflow: hidden">
                                            <img src="../../images/product.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <table class="simpleinfo">
                                            <tr><td>药品名称：</td><td>麦通纳</td></tr>
                                            <tr><td>规格：</td><td>5mg、10mg、15mg</td></tr>
                                            <tr><td>功能主治：</td><td>	麦通纳（注射用七叶皂苷钠），适应症为用于脑水肿、创伤或手术所致肿胀，也用于静脉回流障碍的治疗。</td></tr>
                                        </table>
                                    </div>
                                </div>


                                <div class="square">产品详情</div>
                                <div class="allinfo">
                                    <table class="table table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="zs1" width="15%" align="left" valign="middle">成份：</td>
                                            <td class="zs2" width="85%" align="left" valign="middle">本品的主要成分为七叶皂苷钠A和七叶皂苷钠B，是从七叶树科植物天师粟的干燥成熟种子中提取的一种含酯键的三萜皂苷。
                                                主要成份结构式：
                                                　　
                                                分子式：C55H85NaO24
                                                分子量：1153.24</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle" bgcolor="#f4fcfa">性状：</td>
                                            <td class="zs2" align="left" valign="middle" bgcolor="#f4fcfa">本品为白色冻干疏松块状物。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle">用法用量：</td>
                                            <td class="zs2" align="left" valign="middle">静脉注射或静脉滴注。
                                                　　成人按体重一日0.1～0.4mg/kg或取本品5～10mg溶于10%葡萄糖注射液或0.9%氯化钠注射液250ml中供静脉滴注；也可取本品5～10mg溶于10%葡萄糖注射液或0.9%氯化钠注射液10～20ml中供静脉推注。重症病人可多次给药，但一日总量不得超过20mg。疗程7～10天。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle" bgcolor="#f4fcfa">不良反应：</td>
                                            <td class="zs2" align="left" valign="middle" bgcolor="#f4fcfa">1. 可见注射部位局部疼痛、肿胀，经热敷可使症状迅速消失。
                                                2. 偶有过敏反应，可按药物过敏处理原则治疗。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle">禁忌：</td>
                                            <td class="zs2" align="left" valign="middle">1、肾损伤、肾衰竭、肾功能不全患者禁用。
                                                2、孕妇禁用。
                                                3、对本品成分过敏者禁用。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle" bgcolor="#f4fcfa">注意事项：</td>
                                            <td class="zs2" align="left" valign="middle" bgcolor="#f4fcfa">1、马丁代尓大药典推荐成人静脉使用七叶皂苷钠最大日剂量应为20mg；如使用更大剂量则可能出现急性肾功能衰竭，如联合应用其他具有肾脏毒性的药物也可导致急性肾功能衰竭。有文献记载在接受心脏外科手术治疗的患者中如静脉注射大剂量七叶皂苷钠可能导致急性肾功能衰竭：其中70位患者静脉注射七叶皂苷钠日平均最大剂量为340μg/Kg时未观察到肾功能损坏；16位患者静脉注射七叶皂苷钠日平均最大剂量为360μg/Kg时可观察到轻度肾功能损坏；40位患者静脉注射七叶皂苷钠日平均最大剂量为510μg/Kg可发生急性肾功能衰竭。因此本品应严格限制日用量。若一旦出现肾功能受损，应立即停止用药，并作全面的肾功能检查，根据检查结果，按受损伤程度进行治疗。
                                                2、本品只能用于静脉注射和滴注，禁用于动脉、肌肉或皮下注射。
                                                3、注射时宜选用较粗静脉，切勿漏出血管外，如出现红、肿，用0.25%普鲁卡因封闭或热敷。
                                                4、用药前后须检查肾功能。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle">孕妇及哺乳期妇女用药：</td>
                                            <td class="zs2" align="left" valign="middle">孕妇禁用，哺乳期妇女慎用。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle" bgcolor="#f4fcfa">儿童用药：</td>
                                            <td class="zs2" align="left" valign="middle" bgcolor="#f4fcfa">不宜用本品治疗儿童心脏手术后肿胀。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle">老年用药：</td>
                                            <td class="zs2" align="left" valign="middle">尚不明确。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle" bgcolor="#f4fcfa">药物相互作用：</td>
                                            <td class="zs2" align="left" valign="middle" bgcolor="#f4fcfa">与下列各类药物联合使用时要谨慎：
                                                1、与血清蛋白结合率高的药物。
                                                2、能严重损害肾功能的药物。
                                                3、皮质激素类药物。
                                                4、含碱性基团的药物（配伍时可能发生沉淀）。</td>
                                        </tr>
                                        <tr>
                                            <td class="zs1" align="left" valign="middle">药物过量：</td>
                                            <td class="zs2" align="left" valign="middle">尚不明确。</td>
                                        </tr>
                                        </tbody></table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="food">
                                <div class="square">产品</div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="col-sm-4">
                    <ul class="nav-list">
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li class="active"><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">

        <ul class="footer-link col-sm-8">
            <li><span>关于我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>

                    </ul>
                </div>
            </li>
            <li><span>媒体中心</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司产品</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司文化</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li><span>加入我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="qr-code col-sm-4">
            <h3 style="padding: 0 42px">关于我们</h3>
            <ul>
                <li><img src="../../images/wechat.png" alt=""></li>
                <li><img src="../../images/wechat.png" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="foot-content">
        Copyright © 启东菲博特电子商务有限公司 沪ICP备08023599号-6
    </div>
</div>
<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>