<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/zui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/zui.min.js"></script>
    <title>菲博特</title>
</head>
<body>
<div class="header">
    <div class="contain">
        <div class="con-header">
            <a class="logo" href="../../../officialwebsite/index.html"></a>
            <div class="nav-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tag">
        <ul class="nav nav-bar">
            <li class="nav-tabs">
                <a class="first-tab active" href="../../../officialwebsite/index.html">首页</a>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">关于我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">媒体中心</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司产品</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司文化</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">加入我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="contain">
    <div class="main-con contain">
        <div class="container" style="padding: 0;overflow: hidden">
            <img src="../../images/introduce.jpg" alt="">
            <div class="text-content">
                <div class="col-sm-8">
                    <div class="bread">
                        <span>
                            <a href="">首页</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="">关于我们</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="">联系hr</a>
                        </span>
                    </div>
                    <div class="hr">
                        <table>
                            <tr>
                                <td><img src="../../images/contact_11.jpg" alt=""></td>
                                <td>烟台</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>公司地址：山东省烟台市莱山区宝源路9号<br>
                                        邮编：264003<br>
                                        电话：(86）535-6717618-8567/8593/8709<br>
                                        联系人：赵先生(生产、质量、工程)/张先生（研发）/阎女士（职能）</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../images/contact_11.jpg" alt=""></td>
                                <td>烟台</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>公司地址：山东省烟台市莱山区宝源路9号<br>
                                        邮编：264003<br>
                                        电话：(86）535-6717618-8567/8593/8709<br>
                                        联系人：赵先生(生产、质量、工程)/张先生（研发）/阎女士（职能）</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../images/contact_11.jpg" alt=""></td>
                                <td>烟台</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>公司地址：山东省烟台市莱山区宝源路9号<br>
                                        邮编：264003<br>
                                        电话：(86）535-6717618-8567/8593/8709<br>
                                        联系人：赵先生(生产、质量、工程)/张先生（研发）/阎女士（职能）</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="nav-list">
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-menu-right"></i>工作机会</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>人才战略</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i>员工成长</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">

        <ul class="footer-link col-sm-8">
            <li><span>关于我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>

                    </ul>
                </div>
            </li>
            <li><span>媒体中心</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司产品</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司文化</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li><span>加入我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="qr-code col-sm-4">
            <h3 style="padding: 0 42px">关于我们</h3>
            <ul>
                <li><img src="../../images/wechat.png" alt=""></li>
                <li><img src="../../images/wechat.png" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="foot-content">
        Copyright © 启东菲博特电子商务有限公司 沪ICP备08023599号-6
    </div>
</div>

<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>