<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/zui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/zui.min.js"></script>
    <title>菲博特</title>
</head>
<body>
<div class="header">
    <div class="contain">
        <div class="con-header">
            <a class="logo" href="../../../officialwebsite/index.html"></a>
            <div class="nav-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tag">
        <ul class="nav nav-bar">
            <li class="nav-tabs">
                <a class="first-tab active" href="../../../officialwebsite/index.html">首页</a>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">关于我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">媒体中心</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司产品</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">公司文化</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-tabs">
                <a class="first-tab" href="#">加入我们</a>
                <div class="sec-tab">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="contain">
    <div class="main-con contain">
        <div class="container" style="padding: 0;overflow: hidden">
            <img src="../../images/introduce.jpg" alt="">
            <div class="text-content">
                <div class="col-sm-8">
                    <div class="bread">
                        <span>
                            <a href="">关于我们</a>
                            <i>&nbsp;&gt;&gt;</i>
                            <a href="../../../officialwebsite/views/join/recruit.html">工作机会</a>
                        </span>
                    </div>
                    <div class="jobinfo">
                        <div class="square">销售</div>
                        <ul class="requireinfo">
                            <li class="col-xs-4">工作地点： <span>闵行区</span> </li>
                            <li class="col-xs-4">工作经验：<span>8年</span> </li>
                            <li class="col-xs-4">学　　历：<span></span></li>
                            <li class="col-xs-4">工作类型：<span>全职</span>  </li>
                            <li class="col-xs-4">招聘人数：<span>若干</span>  </li>
                            <li class="col-xs-4">发布时间：<span>2018-01-26</span></li>
                        </ul>
                        <div class="jobinfo">
                            <div class="title">职位描述</div>
                            <p> 1、根据公司战略，负责制定可执行的客户拓展策略；<br>
                                2、对公司整体营销指标负责，负责制定具体销售计划并带领团队完成；<br>
                                3、参与公司营销体系的搭建，负责营销团队的日常管理；<br>
                                4、负责制定公司产品、方案的推广策略；<br>
                                5、负责客户项目的策划及资源协调；<br>
                                6、KA的日常维护；<br>
                                7、行业及竞品分析，并对公司产品策略做输入。</p>
                        </div>
                        <div class="jobinfo">
                            <div class="title">任职要求</div>
                            <p>       1、本科及以上学历，医药市场或广告营销行业工作经验10年以上，其中3年以上管理经验；<br>
                                2、性格开朗、态度积极、善于沟通；<br>
                                3、具有广泛的良好客户关系和行业资源；<br>
                                4、在医药E-Marketing方面具有丰富的营销策划经验；<br>
                                5、出色的项目拓展和谈判能力；<br>
                                6、自律并有较强的自我驱动力和优秀的团队管理能力。</p>
                        </div>






                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="nav-list">
                        <li ><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li class="active"><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li ><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">

        <ul class="footer-link col-sm-8">
            <li><span>关于我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/companyinfo.html">公司概况</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/speech.html">总裁致辞</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/history.html">发展历史</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/groupStructure.html">集团架构</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/contact.html">联系我们</a></li>

                    </ul>
                </div>
            </li>
            <li><span>媒体中心</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/media/news.html">新闻动态</a></li>
                        <li><a href="../../../officialwebsite/views/media/media.html">媒体报道</a></li>
                        <li><a href="../../../officialwebsite/views/media/thematicReport.html">专题报道</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司产品</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/product/business.html">业务领域</a></li>
                        <li><a href="../../../officialwebsite/views/product/products.html">产品展示</a></li>
                        <li><a href="../../../officialwebsite/views/product/cooperation.html">招商合作</a></li>
                    </ul>
                </div>
            </li>
            <li><span>公司文化</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/anenst/culture.html">文化理念</a></li>
                        <li><a href="../../../officialwebsite/views/anenst/mien.html">员工风采</a></li>
                    </ul>
                </div>
            </li>
            <li><span>加入我们</span>
                <div class="list-link">
                    <ul>
                        <li><a href="../../../officialwebsite/views/join/talentStrategy.html">人才战略</a></li>
                        <li><a href="../../../officialwebsite/views/join/recruit.html">工作机会</a></li>
                        <li><a href="../../../officialwebsite/views/join/hr.html">联系hr</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="qr-code col-sm-4">
            <h3 style="padding: 0 42px">关于我们</h3>
            <ul>
                <li><img src="../../images/wechat.png" alt=""></li>
                <li><img src="../../images/wechat.png" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="foot-content">
        Copyright © 启东菲博特电子商务有限公司 沪ICP备08023599号-6
    </div>
</div>
<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>